---
import Container from "../../components/Container.astro";
import SectionHeader from "../common/SectionHeader.astro";

const { title, description, stats, sectionImg, hasGreyBg } = Astro.props;
---

<section class="about" style={hasGreyBg ? "background-color: #f9fafb;" : ""}>
  <Container>
    <div class="content">
      <div>
        <SectionHeader title={title} description={description} alignLeft />
        <div class="stats">
          {
            stats.map((stat: { value: string; label: string }) => (
              <div class="stat">
                <div class="number">{stat.value}</div>
                <div class="label">{stat.label}</div>
              </div>
            ))
          }
        </div>
        <slot />
      </div>
      <div>
        <img
          src={sectionImg}
          alt="Our Team"
          class="about-image"
          loading="lazy"
        />
      </div>
    </div>
  </Container>
</section>

<style>
  .about {
    padding: 4rem 0;
    background-color: white;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    align-items: center;
  }

  .button {
    text-decoration: none;
    color: white;
    background-color: #2563eb;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 9999px;
    white-space: nowrap;
    font-size: 1.125rem;
  }

  .button:hover {
    background-color: #1d4ed8;
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .stat {
    text-align: center;
  }

  .number {
    font-size: 1.875rem;
    color: #2563eb;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  .label {
    color: #4b5563;
    opacity: 0.8;
  }

  .about-image {
    object-fit: cover;
    border-radius: 0.75rem;
    width: 100%;
    height: 24rem;
    box-shadow:
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0) 0px 0px 0px 0px,
      rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
      rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
  }

  @media (max-width: 768px) {
    .about {
      padding: 2rem 0;
    }

    .content {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    .about-image {
      height: 18rem;
    }
  }
</style>
